.selector-for-some-widget {
    box-sizing: content-box;
  }
.content{
    padding-top: 4rem !important;
    
    }
p{
    margin-top: 1rem !important;
}
.social{
     margin-top: 2rem !important;
}
